.nav-bar {
  text-align: horizontal;
  display: flex;
  height: 50px;
  margin: 0px 20px;
  position: fixed;
  width: 100%;
}

.nav-left {
  flex: 0.1;
}

.nav-mid {
  flex: 0.6;
  border: 1px solid grey;
  height: 100%;
  border-radius: 20px;
}

.nav-right {
  flex: 0.3;
  margin-right: 60px;
}

.nav-right > div {
  float: right;
  display: flex;
}

.icon {
  flex: 0.5;
  margin-right: 20px;
  margin-top: 25px;
}

.search-input {
  width: 85%;
  height: 95%;
  border-radius: 20px 0px 0px 20px;
  border-right-style:  grey;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

.fa-user {
  flex: 0.5;
  margin-top: 25px;
}

.search-icon {
  margin-right: 10px;
  margin-left: 25px;
}

.logo {
  height: 100%;
  width: 100px;
}